
@{
    ViewBag.Title = "joinroom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>joinroom</h2>
<input id="joinroomnumber" type="text" placeholder="Room number i.e. 1" value="1"/>
<button id="joinbutton" class="btn btn-primary">Join</button>

<button id="mytest">test</button>
@section scripts
{
    <script>
        var ws;
        $("#joinbutton").click( function() {
            
        


        


        var roomtojoin = $("#joinroomnumber").val();
        console.log(roomtojoin);
        var url = "ws://localhost:55656/api/privateroomjoin/" + roomtojoin;
        ws = new WebSocket(url);
        console.log(ws);




        $("#mytest").click(function() {
            ws.send("trolibertos");
        });
        
       
        ws.onerror = function (e) {
            console.log("error");
            //conversation.append(createSpan('problem with connection'));
        };
        ws.onopen = function () {
            console.log("has connected");
            //conversation.innerHTML = 'Client connected <br/>';
        };

        ws.onmessage = function (e) {
            console.log(e);
            console.log(e.data.toString());
            //conversation.append(createSpan(e.data.toString()));
            //$('#conversation').val($('#conversation').val() + "\n" + e.data.toString());
            //$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
        };

        ws.onclose = function () {
            console.log("has gone away");
            //conversation.innerHTML = 'Closed connection!';
        };

        });
    </script>
}
