
@{
    ViewBag.Title = "createorjoin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button onclick="location.href = 'http://localhost:55656/home/index';">Home</button>
<div class="container">
    <div class="choosecreateorjoindiv">
        <div class ="row">
            <button onclick="location.href = 'http://localhost:55656/privateroomMVC/createroom';" class="btn btn-primary">Create</button>
        </div>
        <div class="row">
            <button onclick="location.href = 'http://localhost:55656/privateroomMVC/joinroom';" class="btn btn-primary">join</button>
        </div>
        
    </div>
</div>
