<div class="container">
    <div class="chooseroomdiv">
        <div class ="row">
            <button onclick="location.href = 'http://localhost:55656/Home/createorjoin';" class="btn btn-primary">private room</button>
        </div>
        <div class="row">
            <button class="btn btn-primary">public room</button>
        </div>
        <div class="row">
            <button class="btn btn-primary">lobby</button>
        </div>
        </div>
</div>